<h1>GIFTS</h1>

<% @gifts.each do |gift| %>
  <li><%= link_to gift.title, gift_path(gift.id) %> <%= link_to 'ðŸ—‘ï¸', gift_path(gift.id), method: :delete,  data: { confirm: "Are you sure?" }  %></li>
<% end %>

<br>
<%= link_to 'new gift', new_gift_path, class: "btn btn-success" %>
